// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// h1 {
//   margin: 30px;
// }

ul {
  margin: 30px;
}

li {
  list-style: none;
  margin: 5px;
}

p {
  margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    // height: 100%;
    justify-content: center;
    // justify-content: center;
    // align-items: center;
    margin: 100px;
}

p.add {
  margin: 30px;
}

i {
  margin-right: 4px;
}

i.far.fa-check-square::before {
  margin-right: 4px;
}

i.far.fa-square::before {
  margin-right: 4px;
}

i.fas.fa-plus::before {
  margin-right: 4px;
}

i.fas.fa-history {
  margin-top: 20px;
}

div.back {
  margin-top: 1rem;
  margin-bottom: 4rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

p.back {
  margin: 10px;
}
